.drop-container {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  min-width: 100px;

}

.drop-elem {
  padding: 0.5rem;
}

.drop-elem:hover {
  background-color: darkgray;
  color: #f9f9f9;
}

.drop {
  position: relative;
  display: inline-block;
  padding: 0.7rem 1rem;
}

.drop:hover .drop-container {
  display: block;
}

footer {
  background-color: #444;
  color: white;
  padding: 0.3rem;
  left: 0;
  bottom: 0;
  width: 100%;
  float: left;
}

.headers {
  margin: 1.5rem 0;
}

#top-bar {
  background-color: white;
  width: 100%;
}
.top-bar {
  position: fixed;
  ul {
    background-color: transparent !important;
  }
}
