#landing {
  min-height: 600px;
  background-image: url("mlb.jpg");
  background-size: cover;
  padding: 15%;
  color: white;
  float: left;
  width: 100%;
}

#landing-txt {
  text-align: center;
  height: 100%;
}

#about, #events, #portfolios, #contact {
  float: left;
  padding: 3rem 1rem;
  width: 100%;
}

#about, #portfolios {
  background-color: white;
}
#events {
  background-color: #eee;
}

#contact {
  background-color: #003366;
  color: white;
}
form input.input-group-field {
  width: 95%;
}
.submenu {
  padding: 0.5rem;
  display: inline-block;
  text-align: center;
}

.submenu:hover {
  color: red !important;
}
