
html {
  position: relative;
  height: 100%;
}

body {
  font-family: 'Ubuntu', sans-serif;
  color: #34495e;
  font-size: 15px;
  height: 100%;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Ubuntu', sans-serif;
}

a {
  color: #34495e !important;
  text-decoration: none !important;
}

a:hover {
  color: #5e5e34 !important;
}

.breadcrumbs {
  padding: 1rem;
}

.contents {
  min-height: 100%;
  padding-top: 55px;
}
.events {
  min-height: calc(100% - 200px);
}
input {
  font-family: 'Ubuntu', sans-serif !important;
}
.logo {
  font-size: x-large;
  padding: 0.2rem;
}

.no-float {
  float: none !important;
}


.thumbnail {
  margin-top: 1rem;
}

// overwriting active admin's properties
.columns {
  clear: none;
}

a.button, a:link.button, form input.button {
  background-color: #1583cc !important;
  background-image: none;
  box-shadow: none;
  font-weight: normal;
  border-radius: 0;
  padding: 0.8rem 1rem;
  border: 1px solid #1583cc !important;
  text-shadow: none;
  color: white !important;
}

a.button:hover, a:link.button:hover, form input.button:hover {
  background-color: white !important;
  color: #1583cc !important;
  text-shadow: none;
  border: 1px solid white !important;
  background-image: none !important;
}
